<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fortniter</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div id = "main">
        <img src="beer_boss.jpg" alt="">
    </div>
    <div id = "desc">

    <h1>beef boss</h1>
    <p>pro gamer</p>
    <p>America</p>
    <p>I like hot dog and burger</p>
  </div>
<table>
    <tr>
        <td>instagram <img src="Instagram_icon.png" alt="" class="logo"></td>
        <td><a href="https://www.instagram.com/fortnite_egor_toy/">fortnite_egor_toy</a></td>
    </tr>
    <tr>
        <td>youtube <img src="youtube.jpg" alt="" class="logo"></td></td>
        <td><a href="https://www.youtube.com/channel/UCmFwyumovF7lBoRwvtWOqNg?view_as=subscriber">Fortniter gamer</a></td>
    </tr>
</table>

</body>
</html>