<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Programing</title>
    <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>Egor</h1>
        <p>Привет я Egor_toy в fortnite</p>
        <p>Я хочу стать чемнеоном fortnite</p>

        <input type="button" value="Нажмина на  меня">
        <a href="https://www.instagram.com/fortnite_egor_toy/">
            <input type="button" value="Моя инста">
            </a>
        </a>
    </body>
</html>
